<div class="login-wrapper">
  <form class="login">
    <section class="title">
      <h3 class="welcome">Welcome to</h3>
      TriPPlanner
      <h5 class="hint">User your login to sign in</h5>
    </section>
    <div class="login-group">
      <input type="text" id="login" class="username"
             name="username" placeholder="Username" [(ngModel)]="username">
      <input class="password" type="password" placeholder="Password"
             name="password" [(ngModel)]="password">
      <div class="checkbox">
        <input type="checkbox" id="remeberMe">
        <label for="remeberMe">Remeber me</label>
      </div>
      <div class="error active">
        Invalid username or password
      </div>
      <button class="btn btn-primary" (click)="login()">Next</button>
    </div>
  </form>
</div>
